@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    /* Font */
    --mainfont : 'Nunito', sans-serif;
    
    /* Color */
    --white : #ffffff;
    --black : #242424;
    --mainclr : #FF0F7B;
    --priclr : #F89B29;
    --gradient : linear-gradient(to right,#FF0F7B,#F89B29);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: var(--black);
    width : 100%;
    height : 100%;
}

.carousalBody {
    position: relative;
    width: 95%;
    height: 100vh;
    margin: 0rem auto;
}

.carousalImage {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousalImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
}

.carousalImage span {
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: var(--mainfont);
    font-size: 24px;
    color: var(--white);
}

.carousalLocation {
    margin: 0.4rem auto;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.carousalLocation span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--black);
}

.carousalLocation span.active {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--black);
    transform: scale(0.95);
    transition: all 0.4s ease-in-out;
}

@media only screen and (max-width : 800px) {
    .carousalBody {
        position: relative;
        width: 97%;
        height: 100%;
        margin: 0.5rem auto;
    }
}
